{% extends 'superhero_theme.html' %}



{% block content %}
<div class="container bg-dark">
    <div class="card bg-dark">
        <div class="card-header bg-primary text-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        DOCUMENT: {{ file }}
                    </div>
                    <div class="col text-end">
                        <a href="Index" class="text-light">Doc Index</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body p-5 bg-dark text-light">
            {% autoescape off %}
            {{ doc }}
            {% endautoescape %}
        </div>
        <a href="/hero/" class="btn btn-danger m-5">Hero List</a>
    </div>

</div>
{% endblock content %}