<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/hero_3.css" rel="stylesheet">
</head>

<body>
    {% block navbar %}
    {% include '_navbar.html' %}
    {% endblock navbar %}  

    {% block header %}
    {% include '_header.html' %}
    {% endblock header %}

    <div class="bg-dark text-light" style="margin-bottom: 0px; min-height: 680px;">
        {% block content %}
        <h2>No Main Block Defined</h2>
        {% endblock content %}
    </div>

    {% block footer %}
    {% include '_footer.html' %}
    {% endblock footer %}

</body>

</html>